[submodule "components/ota-server"]
	path = components/ota-server
	url = https://github.com/mfp20/esp32-ota-server.git
[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/mfp20/arduino-esp32.git
