# Compiled Sources
###################
*.o
*.a
*.elf
#*.bin
*.map
*.hex
*.dis
#*.exe

# Packages 
############

# Logs and Databases
######################
*.log

# Build directory
######################
build/

patches/

*.id
qstrdefs.generated.h
/partitions_mpy.csv
/sdkconfig
sdkconfig.old
sdkconfig.lobo
_sdkconfig.saved
sdkconfig.fw_esp32
sdkconfig.fw_esp32_ota
sdkconfig.fw_psram
sdkconfig.fw_psram_ota
sdkconfig.fw_all
sdkconfig.fw_psram_all
sdkconfig.fw_psram_all_bt

make_firmwares.sh
make_firmware_archives.sh
mncfg_exit.txt
